<ion-header>
  <ion-toolbar color="medium">
    <ion-title>hit3</ion-title>
    <ion-icon name="chevron-back"[routerLink] = "['/hit']" routerdirction= "forward"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
     
  <iframe width="560" height="315" src="https://www.youtube.com/embed/T6rjxLP0S_U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Treino de ABDOMINAL.</ion-card-subtitle>
      <ion-card-title>Treinos de abdominal</ion-card-title>
    </ion-card-header>
  
  
  
   <!-- <ion-button color="success" fill="clear">Play<ion-icon name="caret-forward-circle"></ion-icon></ion-button>-->
   <!-- <ion-button fill="danger">Pause</ion-button>-->
  </ion-card>

</ion-content>
