<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button color="medium"></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastro de Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <form>
    <ion-item lines="full">
      <ion-label position="floating"><ion-icon name="person"></ion-icon>Perfil do usuário</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating"><ion-icon name="calendar-outline"></ion-icon>Data de nascimento</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating"><ion-icon name="call-outline"></ion-icon>Telefone</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating"><ion-icon name="add-outline"></ion-icon>Estado</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating"><ion-icon name="add-outline"></ion-icon>Cidade</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <div>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
        </div>
        
        <ion-button color="danger">Cancelar</ion-button> <ion-button color="primary">Salvar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>