<ion-header>
  <ion-toolbar color="medium">
    <ion-title></ion-title>
    <ion-icon name="chevron-back"[routerLink] = "['/hit']" routerdirction= "forward"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
     
  <iframe width="100%" height="200" src="https://www.youtube.com/embed/R0kT30RbN-k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen></iframe>

   
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>cardio hiit que é um treino de alta intensidade intervalado 
        que é um dos melhores tipos de treino para queimar gordura.</ion-card-subtitle>
      <ion-card-title>Cardio hit</ion-card-title>
    </ion-card-header>
  
  
  
   <!-- <ion-button color="success" fill="clear">Play<ion-icon name="caret-forward-circle"></ion-icon></ion-button>-->
   <!-- <ion-button fill="danger">Pause</ion-button>-->
  </ion-card>

</ion-content>
