ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }
  ion-card {
    --background: rgb(34, 32, 32);
    --color: #d8f341;
  }
  
  ion-card-title {
    --color: #d8f341;
  }
  ion-content{

    --background: linear-gradient(0deg, rgba(8, 8, 8, 0.7), rgba(2, 2, 2, 0.1)),
    url("https://i.pinimg.com/originals/81/99/c4/8199c41f6642e5f9358085b9244b7965.jpg") no-repeat center center / cover;
    }
    