<ion-header>
  <ion-toolbar color="medium">
    <ion-title></ion-title>
    <ion-icon name="chevron-back"[routerLink] = "['/hit']" routerdirction= "forward"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
     
  <iframe width="360" height="315" src="https://www.youtube.com/embed/EGlbCLqe50o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
  allowfullscreen></iframe>
   
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Emagreça em casa dançando</ion-card-subtitle>
      <ion-card-title>Cardio 15 min</ion-card-title>
    </ion-card-header>
  
  
  
   <!-- <ion-button color="success" fill="clear">Play<ion-icon name="caret-forward-circle"></ion-icon></ion-button>-->
   <!-- <ion-button fill="danger">Pause</ion-button>-->
  </ion-card>

</ion-content>
