<ion-header>
  <ion-icone></ion-icone>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>ESQUECI A SENHA</ion-title>
    <ion-icon name="chevron-back"[routerLink] = "['/login']" routerdirction= "forward"></ion-icon>
    <br>
  </ion-toolbar>
  <h1>E-MAIL</h1>
  <p></p>
  <br>
  <br>
    <ion-button fill="outline" expand="block" color="primary" (click)="encaminharRegister()">
      <ion-icon slot="start" name=""></ion-icon>
      Digite o e-mail
  </ion-button>

</ion-header>
