<ion-header>
  <ion-toolbar color="dark">
    <ion-title></ion-title>
    <ion-icon name="chevron-back"[routerLink] = "['/fitness']" routerdirction= "forward"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Treino strong</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <iframe width="360" height="315" src="https://www.youtube.com/embed/ZWXvtZxQSjk?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      Treino de STRONG Nation de 30 minutos
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Strong 30 I projeto baba baby</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <iframe width="360" height="315" src="https://www.youtube.com/embed/D8nuuuUQUT0?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>      Um treino intenso de Strong by Zumba® para aqueles que têm uma rotina agitada e
       querem trabalhar todos os músculos do corpo em poucos minutos! 
         </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Cardio Supepr Intenso em 15 min </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <iframe width="360" height="315" src="https://www.youtube.com/embed/D8nuuuUQUT0?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      Cardio para Queimar muita caloria | Sem Equipamento    </ion-card-content>
    </ion-card>
  

</ion-content>
