<ion-header>
  <ion-toolbar color="warning">
    <ion-title></ion-title>
    <ion-icon name="chevron-back"[routerLink] = "['/carne']" routerdirction= "forward"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://i.gifer.com/7hh1.gif" />
    <ion-card-header>
      <ion-card-title>Treino de bicips</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Esse exercício fortalece bastante a parte superior do corpo, 
      já que, 
      além de trabalhar o bíceps, que é usado para puxar o peso do corpo, ele também atinge outros músculos superiores, com os ombros e as costas
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>50 Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>27 Comentarios</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          16h ago
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>


