<ion-header>
  <ion-toolbar color="warning">
    <ion-title></ion-title>
    <ion-icon name="chevron-back"[routerLink] = "['/carne']" routerdirction= "forward"></ion-icon>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/T6rjxLP0S_U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    <ion-card-header>
      <ion-card-title>Treino abdominal</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Abdominal é um tipo de exercício físico para desenvolver e fortalecer a musculatura do abdômen,
       trabalhando os principais pontos do tórax, principalmente do músculo reto.
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>50 Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>27 Comentarios</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          16h ago
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>

