<ion-header>
  <ion-toolbar color="medium">
    <ion-title></ion-title>
    <ion-icon name="chevron-back"[routerLink] = "['/hit']" routerdirction= "forward"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
     
  <iframe width="370" height="250" src="https://www.youtube.com/embed/D8nuuuUQUT0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

   
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Cardio Super Intenso em 15 min.</ion-card-subtitle>
      <ion-card-title>Cardio 15 min</ion-card-title>
    </ion-card-header>
  
  
  
   <!-- <ion-button color="success" fill="clear">Play<ion-icon name="caret-forward-circle"></ion-icon></ion-button>-->
   <!-- <ion-button fill="danger">Pause</ion-button>-->
  </ion-card>

</ion-content>
