ion-item{
    ion-thumbnail{
        height: 100%;
    
    }
    h1{
        font-weight: bold;
        font-size: 0.8rem;
    
    }
    p{
        font-size: 0.6rm;
    }
       
    p+p{
        color: #8a8a8a
    }
    
    ion-chip{
        padding-inline: 3px;
    }
     --background: rgb(9, 10, 10);
      color:rgb(238, 42, 42)
    }
    