<ion-header>
  <ion-toolbar color="danger">
    <ion-title></ion-title>
    <ion-icon name="chevron-back"[routerLink] = "['/suplementos']" routerdirction= "forward"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
   
  <ion-card color="medium">
    <img alt="Silhouette of mountains" src="https://http2.mlstatic.com/D_NQ_NP_683234-MLB52336378063_112022-O.webp"/>
    <ion-card-header>
      <ion-card-title>Suplemento Em Pó Dark Whey (2300g) - Integralmedica</ion-card-title>
      <ion-card-subtitle>Whey protei</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Benefícios do Dark Whey Integralmedica:
Auxilio no ganho de massa magra,
Maior recuperação muscular,
Melhor reconstrução muscular,
Ação anti-catabólica,
3,1g de leucina por dose,
30g de proteína por dose ,
Sem glúten,
Excelente sabor,
Sucesso de vendas e
Qualidade Integralmedica
    </ion-card-content>
  </ion-card>

</ion-content>
