ion-title{
    color: rgb(25, 233, 146);
}
h1{
    color: rgb(248, 20, 20);
    text-align: center;
}

ion-content{

--background: linear-gradient(0deg, rgba(248, 242, 242, 0.7), rgba(90, 74, 74, 0.1)),
url("https://th.bing.com/th/id/R.dfbcb437ce41085f9e134ea9e83b1b36?rik=7aN4uLQho4WjIA&pid=ImgRaw&r=0") no-repeat center center / cover;
}

ion-menu{
    text-align: left;

}