<ion-header>
  <ion-toolbar color="warning">
    <ion-title></ion-title>
    <ion-icon name="chevron-back"[routerLink] = "['/carne']" routerdirction= "forward"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://media.tenor.com/4QuqUJ4HCM4AAAAd/cadeira-extensora-treino-mestre.gif" />
    <ion-card-header>
      <ion-card-title>Cadeira flexora</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      A cadeira flexora ou mesa flexora é um exercício de isolamento básico que visa dois grupos musculares. 
      O isquiotibiais (os músculos bíceps femoral, 
      semitendíneo e semimembranoso) de forma primária e os músculos da panturrilha de forma secundária.
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>12 Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>4 Comentarios</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          16h ago
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>

