  <ion-toolbar color="primary">
    <ion-icon name="chevron-back"[routerLink] = "['/nutricionista']" routerdirction= "forward"></ion-icon>
  </ion-toolbar>
<ion-content>
  
  <ion-card color="">
    <img alt="Silhouette of mountains" src="https://institucional-cms.medprev.app/storage/medprev-institucional-cms-prddia_do_nutricionista_saiba_a_importancia_desse_profissional_para_a_sua_alimentacao_3343043df3.jpeg" />
    <ion-card-header>
      <ion-card-title>Dr. Daniela Paula <!--<ion-icon name="star-half-outline"></ion-icon>--></ion-card-title>
      <ion-card-subtitle>Consultoria nutricional</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
     Especialidade em consultoria nutricional 
    </ion-card-content>
  </ion-card>
    
   <h1>Comentarios:</h1>
   <ion-item>
    <ion-avatar slot="start">
      <img src="https://th.bing.com/th/id/R.49376b553f3b5f5b67409592744e5579?rik=WzvpBRDluxLgBg&pid=ImgRaw&r=0">
    </ion-avatar>
    <ion-label>
      <!--<h3>Fapan222</h3>-->
      <h2>@caiofurtado</h2>
      <p>Excelente profissional! <ion-icon name="star-half-outline"slot="end"></ion-icon></p> 
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://th.bing.com/th/id/OIP.4-sbLLBhDhOMgWeYXs8Y9QHaHa?pid=ImgDet&rs=1">
    </ion-avatar>
    <ion-label>
      <!--<h3>Fapan222</h3>-->
      <h2>@caiofurtado</h2>
      <p>Me ajudou bastante na parte nutricional! <ion-icon name="star-half-outline"slot="end"></ion-icon></p> 
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://th.bing.com/th/id/OIP.MihnA4ZnKqytdypVRtdrUgAAAA?pid=ImgDet&w=400&h=400&rs=1">
    </ion-avatar>
    <ion-label>
      <!--<h3>Fapan222</h3>-->
      <h2>@allapatrick</h2>
      <p>Super indico! <ion-icon name="star-half-outline"slot="end"></ion-icon></p> 
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://thumbs.dreamstime.com/b/beautiful-young-woman-red-hair-up-to-her-shoulders-portrait-modern-fashion-hairstyle-salon-vector-icon-long-isolated-123891505.jpg">
    </ion-avatar>
    <ion-label>
      <!--<h3>Fapan222</h3>-->
      <h2>@renatavascocelos</h2>
      <p>Muito obrigada pelo atendimento rapido e eficaz! <ion-icon name="star-half-outline"slot="end"></ion-icon></p> 
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://media.istockphoto.com/vectors/beautiful-young-woman-with-brown-hair-with-a-ghoul-portrait-of-modern-vector-id1027816692?k=6&m=1027816692&s=170667a&w=0&h=CS-Ia1ksSdNAxrdjVEwmdI_XxE41SQqFlytUhG9bDQ0=">
    </ion-avatar>
    <ion-label>
      <!--<h3>Fapan222</h3>-->
      <h2>@furtado</h2>
      <p>Excelente profissional! <ion-icon name="star-half-outline"slot="end"></ion-icon></p> 
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://th.bing.com/th/id/OIP.Pjz4dojTaZR0KBJZxjzLIgAAAA?pid=ImgDet&w=300&h=300&rs=1">
    </ion-avatar>
    <ion-label>
      <!--<h3>Fapan222</h3>-->
      <h2>@helenapaula</h2>
      <p>Boas dicas! <ion-icon name="star-half-outline"slot="end"></ion-icon></p> 
    </ion-label>
  </ion-item>
</ion-content>
 