<ion-header>
  <ion-toolbar color="warning">
    <ion-title></ion-title>
    <ion-icon name="chevron-back"[routerLink] = "['/carne']" routerdirction= "forward"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://th.bing.com/th/id/R.a554e9a72e7e92532574014b103d6fa6?rik=Zogzr%2fNHaBojew&riu=http%3a%2f%2f3.bp.blogspot.com%2f-NJ_n5YyrV8A%2fT747PvqzMJI%2fAAAAAAAAHn0%2fXah2Sueb0S4%2fs1600%2fadbm%2bgif11.gif&ehk=f9F59mjL9vgQ4RtlsdHy%2fz6CAOdtQZk34C8TG38a7qU%3d&risl=&pid=ImgRaw&r=0" />
    <ion-card-header>
      <ion-card-title>Abdominal com halteres</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     Abdominais com halteres
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>12 Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>4 Comentarios</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          16h ago
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>

