<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <div class="menu-header-bg"></div>
        <div class="header-containt"></div>
        <ion-avatar >
        <img src="https://th.bing.com/th/id/R.c7278a375fb02e9366e7062f5ea90ef5?rik=im4LP3RwHK8lIw&pid=ImgRaw&r=0" alt="">
        </ion-avatar>
        <ion-label>
          <br>
          
          <h2>Denise Leão</h2>
          <P>Dez 07, 2022</P>
        </ion-label>
        <ion-list id="inbox-list">
          <!--<ion-list-header color="sucess">Seja Bem-vindo(a)</ion-list-header>-->
          <!--<ion-note>lucas.fapan@gmail.com</ion-note>-->

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <!--<ion-list-header>Outras opçõe</ion-list-header>-->

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="star"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
