<ion-header>
  <ion-toolbar color="danger">
    <ion-title></ion-title>
    <ion-icon name="chevron-back"[routerLink] = "['/suplementos']" routerdirction= "forward"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
   
  <ion-card color="medium">
    <img alt="Silhouette of mountains" src="https://a-static.mlcdn.com.br/800x560/omega-3-integralmedica-1360-em-capsulas-60-capsulas-natural/obaraodocha/8fc41108410311ed81ce4201ac185019/7afecb62004ee3f17caeec247c810b8e.jpeg"/>
    <ion-card-header>
      <ion-card-title>Ômega 3 Integralmédica 1360 em Cápsulas - 60 Cápsulas Natural</ion-card-title>
      <ion-card-subtitle>Ômega 3 Integralmédica 1360</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Seus ganhos dependem da sua saúde e mais do que apenas recuperação muscular, Ômega 3 Integralmédica é o suplemento que oferece melhora no funcionamento do cérebro agindo diretamente na memória e no raciocínio
    </ion-card-content>
  </ion-card>

</ion-content>
