<ion-content>
  <ion-header>
    <ion-toolbar color="danger">
      <ion-title></ion-title>
      <ion-icon name="chevron-back"[routerLink] = "['/receitaproteina']" routerdirction= "forward"></ion-icon>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card color="primary">
      <img alt="Silhouette of mountains" src="https://1.bp.blogspot.com/-FU8AzSZ0t3U/VriOm6MjlpI/AAAAAAABFGI/uUhJFwra-8U/s320/image-704495.png" />
      <ion-card-header>
        <ion-card-title>Arroz integral</ion-card-title>
        <ion-card-subtitle>Perda de peso</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        O arroz integral é um alimento recomendado para todos aqueles que querem emagrecer com saúde e qualidade de vida. "
        Além de ajudar no funcionamento do intestino, suas fibras também promovem uma sensação de saciedade, 
        e, consequentemente, você comerá menos"
      </ion-card-content>
    </ion-card>
  </ion-content>
  
</ion-content>
