<ion-header>
  <ion-toolbar color="warning">
    <ion-title></ion-title>
    <ion-icon name="chevron-back"[routerLink] = "['/carne']" routerdirction= "forward"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://th.bing.com/th/id/R.5c3765209eb022919fbc6601ad99a6c4?rik=yu63DdZfFOIVTA&pid=ImgRaw&r=0" />
    <ion-card-header>
      <ion-card-title>Treino de ombros</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      A elevação lateral com halteres trabalham diferentes tipos de músculos simultaneamente como: 
      deltóide anterior que é a frente dos ombros; o deltóide posterior que é a porção de trás dos ombros;
     o deltóide medial que é a parte de cima os ombros e o trapézio músculo infraespinhal.

    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>12 Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>4 Comentarios</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          16h ago
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>

