<ion-header>
  <ion-toolbar color="danger">
    <ion-title></ion-title>
    <ion-icon name="chevron-back"[routerLink] = "['/suplementos']" routerdirction= "forward"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
   
  <ion-card color="medium">
    <img alt="Silhouette of mountains" src="https://images-americanas.b2w.io/produtos/4944962135/imagens/whey-protein-concentrado-900g-black-skull/4944962143_1_xlarge.jpg"/>
    <ion-card-header>
      <ion-card-title>Whey Protein Concentrado 900g - Black Skull</ion-card-title>
      <ion-card-subtitle>Ômega 3 Integralmédica 1360</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Whey da Black Skull usa é um produto da Caveira Preta Series, é um suplemento alimentar que contém em sua formulação três tipos de Whey Protein: Whey Protein Concentrado, Whey Protein Isolado e Whey Protein Hidrolisado, que são proteínas potentes que possuem tecnologias de ponta, agindo na recuperação e ganho de massa muscular. Pode ser consumido logo após o treino, durante o dia ou de acordo com o nutricionista.    </ion-card-content>
  </ion-card>

</ion-content>
