<ion-header>
  <ion-toolbar color="danger">
    <ion-title></ion-title>
    <ion-icon name="chevron-back"[routerLink] = "['/suplementos']" routerdirction= "forward"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
   
  <ion-card color="medium">
    <img alt="Silhouette of mountains" src="https://images-americanas.b2w.io/produtos/5164206996/imagens/whey-pro-1kg-max-titanium-whey-protein-morango/5164206996_1_xlarge.jpg"/>
    <ion-card-header>
      <ion-card-title>Whey Pro 1kg Max Titanium Whey Protein</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Whey Pro 1kg Max Titanium: As proteínas da Whey Pro estão em todas as células e tecidos do nosso corpo, formando os principais elementos estruturais.
      Benefícios:
      Aumento de energia;
      Alto teor de proteínas;
      Auxilia no aumento de massa muscular magra.
      Sugestão de uso: Misture 4 colheres de sopa (aproximadamente 40g) em 200ml de bebida de sua preferência (água mineral, leite desnatado, etc). Utilize Whey Pro de 1 a 4 vezes ao dia (dependendo da quantidade de proteína que você deseja ingerir em sua dieta).    </ion-card-content>
  </ion-card>

</ion-content>
