<ion-content>
  <ion-header>
    <ion-toolbar color="danger">
      <ion-title></ion-title>
      <ion-icon name="chevron-back"[routerLink] = "['/receitaproteina']" routerdirction= "forward"></ion-icon>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card color="primary">
      <img alt="Silhouette of mountains" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKAnjR8th4LepcnG-h_57GADr650csfda4V1E0mMGql2x0A1IenTqgyjs4vDXdXP20JiI&usqp=CAU" />
      <ion-card-header>
        <ion-card-title>Iogurte </ion-card-title>
        <ion-card-subtitle>Ganho de massa</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Além de ser um aliado no emagrecimento, iogurte ajuda a ganhar massa muscular. 
        Um estudo feito pela Miami Research Associates diz que a combinação de proteínas e carboidratos torna-o uma excelente opção para recuperação muscular após um treino intenso.
         É recomendada a versão light acompanhada de frutas ou cereais
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
