h1{
    text-align: center;
    color: rgb(13, 13, 14);
}
ion-content{

    --background: linear-gradient(0deg, rgba(252, 247, 247, 0.7), rgba(248, 244, 244, 0.1)),
    url("https://media.istockphoto.com/vectors/young-caucasian-white-doctor-pointing-finger-up-vector-id941627204?k=6&m=941627204&s=170667a&w=0&h=SD-56u5TBxXTrStrp_dXninh4z1Xr9DeJHpRNjU_GCk=") no-repeat center center / cover;
}