<ion-header>
  <ion-toolbar color="warning">
    <ion-title></ion-title>
    <ion-icon name="chevron-back"[routerLink] = "['/carne']" routerdirction= "forward"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://th.bing.com/th/id/R.e4f56da925ca3d41cb587879560cec51?rik=j3TML4WtCUDlbA&pid=ImgRaw&r=0" />
    <ion-card-header>
      <ion-card-title>Cadeira flexora</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      A cadeira flexora ou mesa flexora é um exercício de isolamento básico que visa dois grupos musculares. 
      O isquiotibiais (os músculos bíceps femoral, 
      semitendíneo e semimembranoso) de forma primária e os músculos da panturrilha de forma secundária.
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>10 Curtidas <ion-icon name=""></ion-icon></div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="chatbubbles"></ion-icon>
          <div>4 Comentarios<ion-icon name=""></ion-icon></div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          16h ago
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>

