
<ion-content>
  <ion-header>
    <ion-toolbar color="danger">
      <ion-title></ion-title>
      <ion-icon name="chevron-back"[routerLink] = "['/receitaproteina']" routerdirction= "forward"></ion-icon>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card color="primary">
      <img alt="Silhouette of mountains" src="https://th.bing.com/th/id/OIP.Nn24w1OWfKxuqvCp4Dt8yQHaFR?pid=ImgDet&rs=1" />
      <ion-card-header>
        <ion-card-title>Pizza de frango</ion-card-title>
        <ion-card-subtitle>Ganho de massa</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        O alho ajuda na perca de peso, combate radicais livres, 
        aumenta o colesterol bom em nosso organismo, previne resfriados e é anti-inflamatório
      </ion-card-content>
    </ion-card>
  </ion-content>
  
</ion-content>
