<ion-header>
  <ion-toolbar color="medium">
    <ion-title>Treinos</ion-title>
    <ion-buttons slot="start">
      <ion-icon name="chevron-back"[routerLink] = "['/receitas']" routerdirction= "forward"></ion-icon>
    </ion-buttons>  
</ion-toolbar>
</ion-header>
<ion-content>
   <!-- <ion-avatar >
        <img src="https://th.bing.com/th/id/R.c7278a375fb02e9366e7062f5ea90ef5?rik=im4LP3RwHK8lIw&pid=ImgRaw&r=0" alt="">
        </ion-avatar>-->
<!--<h1><ion-icon name="barbell-outline"></ion-icon> Fitness +</h1>-->
<ion-card [routerLink] = "['/carne']" color="dark">
  <ion-item>
    <ion-avatar slot="start">
      <img src="https://th.bing.com/th/id/R.49376b553f3b5f5b67409592744e5579?rik=WzvpBRDluxLgBg&pid=ImgRaw&r=0">
    </ion-avatar>
    <ion-label>
      <!--<h3>Fapan222</h3>-->
      <p>Seja Bem-vindo(a)</p>
      <p>Dec 23, 2022</p>
    </ion-label>
  </ion-item>
 <!--<ion-avatar> <img src="" alt="ion"></ion-avatar>-->
  <ion-card-header>
    <ion-card-title>Bem-vindo ao fitness</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <img src="https://image.freepik.com/fotos-gratis/homem-forte-treinando-na-academia_1303-23478.jpg" alt="">
    "O corpo alcança o que a mente acredita"
  </ion-card-content>
  <ion-footer>
    <ion-row>
      <ion-col center text-center>
        <button>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>1.5k Likes</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <button>
          <ion-icon name="chatbubble"></ion-icon>
          <div>4 Comments</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <button>
          <ion-icon name="time"></ion-icon>
          <div>11h ago</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-footer>
</ion-card>
    
  <h2>Mais do que você faz</h2>
  <ion-card [routerLink] = "['/strong1']" color="medium">
    <ion-card-header>
      <ion-card-title>Treino de strong</ion-card-title>
      <!--<ion-card-subtitle>Card Subtitle</ion-card-subtitle>-->
    </ion-card-header>
  
    <ion-card-content>
      <img src="https://i.ytimg.com/vi/ZWXvtZxQSjk/maxresdefault.jpg" alt="">
      Treino de STRONG Nation de 30 minutos
    </ion-card-content>
  </ion-card>
  <ion-card [routerLink] = "['/hit']" color="medium">
  <ion-card-header>
    <ion-card-title>Mais hit</ion-card-title>
    <!--<ion-card-subtitle>Card Subtitle</ion-card-subtitle>-->
  </ion-card-header>

  <ion-card-content>
    <img src="https://static.nike.com/a/images/f_auto,cs_srgb/w_1920,c_limit/33ab6064-a3bc-48b1-9187-e5d89de0f651/trs-formas-de-criares-os-teus-treinos-hiit.png" alt="">
    Hit com jamie-ra 10min top Country </ion-card-content>
</ion-card>
<ion-card [routerLink] = "['/carne']" color="medium" >
  <ion-card-header>
    <ion-card-title>Treinos</ion-card-title>
    <!--<ion-card-subtitle>Card Subtitle</ion-card-subtitle>-->
  </ion-card-header>

  <ion-card-content>
    <img src="https://s2.glbimg.com/l9QqILh69JsWk2YqyUV9I8veeVY=/e.glbimg.com/og/ed/f/original/2019/01/21/pexels-photo-841130.jpeg" alt="">
    Dia de treino
  </ion-card-content>
</ion-card>
</ion-content>