ion-title{
    color: rgb(241, 248, 245);
}
p{
    text-align: center;
}


ion-content{

    --background: linear-gradient(0deg, rgba(27, 24, 24, 0.7), rgba(90, 74, 74, 0.1)),
     no-repeat center center / cover;
    }
    