<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Agendamento</ion-title>
    <ion-icon name="chevron-back"[routerLink] = "['/nutricionista']" routerdirction= "forward"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
  <ion-avatar slot="start">
    <img src="https://th.bing.com/th/id/R.49376b553f3b5f5b67409592744e5579?rik=WzvpBRDluxLgBg&pid=ImgRaw&r=0">
  </ion-avatar>
  <ion-label>
    <!--<h3>Fapan222</h3>-->
    <p>Seja Bem-vindo(a)</p>
    <p>Nov 23, 2022</p>
  </ion-label>
</ion-item>
<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Faça seu agendamento de forma online ou presencial.</h1>
  <br>
<ion-footer>
</ion-footer>
 <p>
 </p>
<ion-list>
  <ion-item>
    <ion-label position="stacked">Nome completo:</ion-label>
    <ion-input placeholder=""></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Endereço:</ion-label>
    <ion-input placeholder=""></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Bairro:</ion-label>
    <ion-input placeholder=""></ion-input>
  </ion-item>  
   
  <ion-item>
    <ion-label position="stacked">Telefone</ion-label>
    <ion-input placeholder=""></ion-input>
  </ion-item>

    

  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input placeholder="fapanfapen2023@gmail.com"></ion-input>
  </ion-item>
  <br>
  <br>
  
  <ion-button  color="danger">Cancelar</ion-button> <ion-button color="success">Confirmar</ion-button>

</ion-list>
      
 

</ion-content>
