<ion-content>
  <ion-header>
    <ion-toolbar color="danger">
      <ion-title></ion-title>
      <ion-icon name="chevron-back"[routerLink] = "['/receitaproteina']" routerdirction= "forward"></ion-icon>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card color="primary">
      <img alt="Silhouette of mountains" src="https://th.bing.com/th/id/OIP.ird41il-1KrsKz9a4ZPlsQHaHa?pid=ImgDet&w=667&h=667&rs=1" />
      <ion-card-header>
        <ion-card-title>Pão integral</ion-card-title>
        <ion-card-subtitle>Perda de peso</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        O pão integral é um alimento que pode trazer benefícios quando incluído em dietas de emagrecimento. 
        “O primeiro deles é a sua quantidade de fibras alimentares, que ajudam a controlar a absorção de carboidratos e 
        gorduras. 
        Elas também contribuem para o prolongamento da saciedade, o que reduz a ingestão calórica”
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
